.container-div{
    margin-left: 70px;margin-top: 70px;
    /* background-color: yellowgreen; */
}



p{
    color: chocolate;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divv-count{
    display: flex;
}



.home-page-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
}

ashil-editor{
    float: left;

}


ashil-editor.content {
    flex: 1;
  }
.container-div{
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 500px;
    padding-bottom: 10px;
    
}
.p-div{
    width: 300px;
    height: 200px;
    margin: 10px 1  0px 10px 50px;
}

.container-p{
    padding-left: 50px;
}

.home-page-h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 100px;
      }
      body{
        background-color: rgb(200, 218, 199)  ;
      }
   
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}